opencv-python-headless
altair
django
python-dotenv
supabase
google-genai
markdown
numpy<2
psycopg2-binary
pymupdf
python-docx
markdown-it-py
mdit-py-plugins
PyMuPDF
python-docx
dj_database_url
gunicorn
whitenoise
langchain==1.1.0
langchain-core
langchain-community
langchain-anthropic
langchain_google_genai
chromadb
cerebras-cloud-sdk
torch
torchvision