opencv-python-headless
altair
django
python-dotenv
supabase
markdown
numpy>=1.26.2
psycopg2-binary
pymupdf
python-docx
markdown-it-py
mdit-py-plugins
markdown_it.extensions
dj_database_url
gunicorn
whitenoise
langchain==1.1.0
langchain-core
langchain-community
langchain_google_genai
chromadb
gdown
google
groq
